<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>indexPage</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1 ,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="dist/css/booklib.css">
    <script src="dist/js/vue.js"></script>
</head>

<body>
    <div class="top_tit">
        <span class="bookBack"></span>
        <span class="bookTitWo">学霸文库</span>
        <span class="bookBag"></span>
    </div>
    <div class="lessons">
        <div class="search">
            <input type="text" placeholder = "课程搜索">
            <span></span>
        </div>
        <p class="tagsTit">热门标签：</p>
        <div class="tags">
            <span>大雾</span>
            <span>大学物理</span>
            <span>大雾</span>
            <span>大雾</span>
            <span>大学物理</span>
            <span>大雾</span>
            
        </div>
    </div>
    <div class="bookBox">
        <div class="box">
            <p class="boxTit">
                <span class="icon1 icon"></span>
                <span>本SDK依赖服务端颁发</span>
                <span class="boxHot boxHotAc"></span>
            </p>
            <p class="boxWord">本SDK依赖服务端颁发upToken，可以通过以下二种方式实现： * 利用七牛服务端SDK构建后端服务 * 利用七牛底层API构建服务，详见七牛上传策略和上传凭证</p>
            <p class="msg">
                <span class="eye"></span>
                <span>12333</span>
                <span class="star"></span>
                <span>45666</span>
            </p>
            <p class="downlaod">
                <span class="downAc">下载</span>
                <span>11.3M</span>
                <span class="toBag">放进书包</span>
            </p>
        </div>
    </div>
    <!-- <footer>
        <span><img src="/img/bot1.png" alt=""></span>
        <span><img src="/img/bot2.png" alt=""></span>
        <span><img src="/img/bot3.png" alt=""></span>
    </footer> -->
    <div class="uperDiv">
        <div class="box">
            <div class="boxTit">
                <span>放入书包</span>
                <span class="close"><img src="/img/close.png"></span>
            </div>
            <p class="box_tit">
                <span class="icon1 icon"></span>
                <span>本SDK依赖服务端颁发</span>
                <span class="boxHot boxHotAc"></span>
            </p>
            <p class="boxWord">本SDK依赖服务端颁发upToken，可以通过以下二种方式实现： * 利用七牛服务端SDK构建后端服务 * 利用七牛底层API构建服务，详见七牛上传策略和上传凭证</p>
            <p class="sel">
                不可选择
                <span></span>
            </p>
            <p class="goBag">
                <span>放进书包</span>
            </p>
        </div>
    </div>
</body>
<script src="dist/js/hm.js"></script>
<script src="dist/js/all.js"></script>
<script>
q('.bookBack').style.marginTop = -q('.bookBack').offsetHeight/2+'px';
q('.bookBag').style.marginTop = -q('.bookBag').offsetHeight/2+'px';
q('.bookTitWo').style.marginTop = -q('.bookTitWo').offsetHeight/2+'px';
q('.bookTitWo').style.marginLeft = -q('.bookTitWo').offsetWidth/2+'px';
q('.boxTit .icon').style.height = q('.boxTit .icon').offsetWidth*1.2+'px';
q('.box_tit .icon').style.height = q('.box_tit .icon').offsetWidth*1.2+'px';
q('.boxHot').style.height = q('.boxHot').offsetWidth+'px';
q('.eye').style.height = q('.eye').offsetWidth*0.73+'px';
q('.star').style.height = q('.star').offsetWidth+'px';
</script>

</html>
