<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>indexPage</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1 ,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="dist/css/person.css">
    <script src="dist/js/vue.js"></script>
</head>

<body>
    <div class="topBg">
        <span class='personBack'></span>
        <canvas id="topBg"></canvas>
        <div class="person">
            <img src="/img/photo.png" alt="">
            <p>name</p>
            <p>name</p>
        </div>
        <div class="search">
            <span>+加关注</span>
        </div>
    </div>
    <div class="personBox">
        <div>
            <p class="topLine">
                <span class='lock'></span>
                <span class="boxTit">ta的动态</span>
                <span class="more">more...</span>
            </p>
        </div>
        <div class="boxMain">
            <div>
                <p class="thingData">
                    <span class="dot"></span>
                    <span class="day">5015.11.11</span>
                    <span class="time">11:11</span>
                </p>
                <p class="boxWord">
                    在切换 v-if 块时，Vue.js 有一个局部编译/卸载过程，因为 v-if 件块内的事件监听器和子组件。
                </p>
            </div>
        </div>
    </div>
    <div class="presonAbout">
        <div>
            <p class="topLine">
                <span class='lock'></span>
                <span class="boxTit">个人信息</span>
            </p>
        </div>
        <div class="personMain">
            <p>
            <span>姓名：</span>
            <span>仿佛</span>
            </p>
            <p>
            <span>性别：</span>
            <span>仿佛</span>
            <span>城市：</span>
            <span>新机房</span>
            </p>
            <p>
                <span>个性签名：</span>
            </p>
            <p>我很懒不想写不想写不想写blblbblblblblblblbblblblblblblblbbl</p>
        </div>
    </div>
    <footer>
        <span><img src="/img/bot1.png" alt=""></span>
        <span><img src="/img/bot2.png" alt=""></span>
        <span><img src="/img/bot3.png" alt=""></span>
    </footer>
    <div class="uperDiv">
        <div class="box">
            <div class="boxTit">
                <span>上传文件</span>
                <span class="close"><img src="/img/close.png"></span>
            </div>
            <p class="box_input">
                <input type="text" placeholder="标题" />
            </p>
            <p class="box_input">
                <input type="text" placeholder="文件描述" />
            </p>
            <p class="box_input">
                <input type="text" placeholder="课程名称" />
            </p>
            <!-- <p class="sel">
                选择课程
                <span></span>
            </p> -->
            <p class="goBag" id="upload">
                <span id="uploadBtn">选择文件</span>
            </p>
            <p class="goBag">
                <span>提 交</span>
            </p>
        </div>
    </div>
</body>
<script src="dist/js/hm.js"></script>
<script src="dist/js/all.js"></script>
<script>
drawcanvas('/img/1.jpg', q('#topBg'));
var lock = document.querySelectorAll('.lock');

lock[0].style.height = lock[0].offsetWidth + 'px';
lock[1].style.height = lock[1].offsetWidth + 'px';

q('html').style.minHeight = q('html').offsetHeight + 'px';
</script>

</html>
