* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
}
html,
body {
  font-family: '微软雅黑';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
.topBg {
  width: 100%;
  height: 38%;
}
.topBg canvas {
  width: 100%;
  height: 100%;
}
.person {
  position: absolute;
  top: 0;
  width: 25%;
  border-radius: 100px;
  margin-left: 37%;
  margin-top: 7%;
}
.person canvas {
  width: 100%;
  height: 100%;
}
.person img {
  width: 100%;
  border-radius: 100%;
  border: 4px #fff solid;
}
.person p {
  margin-top: 10%;
  color: #f6f5f4;
  width: 100%;
  text-align: center;
}
.search {
  position: absolute;
  margin-left: 3%;
  top: 31%;
  height: 5.5%;
  width: 94%;
  border-radius: 3px;
  background-color: #f6f5f4;
  display: flex;
  display: -webkit-flex;
}
.search span {
  display: inline-block;
  height: 100%;
  width: 9%;
  background-color: #df5a2c;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search span img {
  height: 70%;
  margin-top: 11%;
  margin-left: 11%;
}
.search input {
  padding: 1.3% 10px;
  line-height: 100%;
  flex: 1;
  float: right;
  width: 82%;
  height: 69%;
  background-color: transparent;
}
.topList {
  padding: 0 3%;
  width: 93.9%;
  display: flex;
  display: -webkit-flex;
}
.topList li {
  text-align: center;
  box-orient: vertical;
  flex: 1;
  display: inline-block;
  -webkit-flex: 1;
  width: 19.5%;
  background-color: #fff;
  margin-bottom: 4.5%;
}
.topList li canvas {
  border-radius: 100%;
  overflow: hidden;
  width: 68%;
  margin-left: 6%;
  margin-top: 20%;
}
.topList li span {
  color: #292929;
  font-size: 13px;
  display: block;
  margin-top: 3%;
}
.indexBox {
  padding-bottom: 14%;
  width: 100%;
  margin: auto;
  padding-top: 1px;
  background-color: #e2e2e2;
}
.indexBox li {
  width: 94%;
  background-color: #fff;
  padding: 0 3%;
  margin-top: 3%;
}
.indexBox li .topLine {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  width: 100%;
  padding: 3% 0 2% 0;
  border-bottom: 1px solid #e2e2e2;
}
.indexBox .colorBg {
  width: 6px;
  height: 18px;
  margin-right: 1.6%;
  background-color: #ff6633;
  display: inline-block;
  position: relative;
  bottom: -2px;
  margin-left: 2%;
}
.indexBox .boxTit {
  color: #292929;
  font-size: 16px;
}
.indexBox .data {
  float: right;
  font-size: 12px;
  padding-top: 4px;
  margin-right: 5%;
}
.indexBox .boxMain {
  font-size: 14px;
  color: #292929;
  padding: 5px 5%;
}
