extends ../common/layout.jade

block content
	div.container
		div.loader
			div.loading
		div.mainPage.mainPage1
			div.centerBox.cbx1
				span.cbxtt 欢快的小太阳
			div.centerBox.cbx2
				p 晶晶的第一只小太阳在晶晶的粗心之下去了吱星，于是晶晶过了半个多月寂寞空虚冷的日子，实在活不下去了，于是去接了第二只小太阳(ง •̀_•́)ง
			div.centerBox.cbx3
				a(href="/blog")
					span