<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>indexPage</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1 ,maximum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/dist/js/vue.js"></script>
</head>

<body>
    <div class="topBg">
        <canvas id="topBg"></canvas>
        <div class="person">
            <img src="/img/photo.png" alt="">
            <p>name</p>
        </div>
        <div class="search">
            <span id="searchBtn">
                <img src="/img/search.png" alt="">
            </span>
            <input type="text">
        </div>
    </div>
    <ul class="topList">
        <li>
            <canvas id="list0"></canvas>
            <span>课程管理</span>
        </li>
        <li>
            <canvas id="list1"></canvas>
            <span>成绩查询</span>
        </li>
        <li>
            <canvas id="list2"></canvas>
            <span>空闲教室</span>
        </li>
        <li>
            <canvas id="list3"></canvas>
            <span>图书查询</span>
        </li>
        <li>
            <canvas id="list4"></canvas>
            <span>我的书包</span>
        </li>
    </ul>
    <ul class="indexBox">
        <li>
            <p class="topLine">
                <span class="colorBg"></span>
                <span class="boxTit">家园资讯</span>
                <span class="data">11.11</span>
            </p>
            <p class="boxMain">
                数据绑定一个常见需求是操作元素的 class 列表和它的内联样式。因为它们都是属性，我们可以用 v-bind 处理它们：我们只需要计算出表达式最终的字符串。不过，字符串拼接麻烦又易错。因此，在v-bind 用于 class 和 style 时，Vue.js 专门增强了它。表达式的结果类型除了字符串之外，还可以是对象或数组。
            </p>
        </li>
        <li>
            <p class="topLine">
                <span class="colorBg"></span>
                <span class="boxTit">家园资讯</span>
                <span class="data">11.11</span>
            </p>
            <p class="boxMain">
                数据绑定一个常见需求是操作元素的 class 列表和它的内联样式。因为它们都是属性，我们可以用 v-bind 处理它们：我们只需要计算出表达式最终的字符串。不过，字符串拼接麻烦又易错。因此，在v-bind 用于 class 和 style 时，Vue.js 专门增强了它。表达式的结果类型除了字符串之外，还可以是对象或数组。
            </p>
        </li>
        <li>
            <p class="topLine">
                <span class="colorBg"></span>
                <span class="boxTit">家园资讯</span>
                <span class="data">11.11</span>
            </p>
            <p class="boxMain">
                数据绑定一个常见需求是操作元素的 class 列表和它的内联样式。因为它们都是属性，我们可以用 v-bind 处理它们：我们只需要计算出表达式最终的字符串。不过，字符串拼接麻烦又易错。因此，在v-bind 用于 class 和 style 时，Vue.js 专门增强了它。表达式的结果类型除了字符串之外，还可以是对象或数组。
            </p>
        </li>
        <li>
            <p class="topLine">
                <span class="colorBg"></span>
                <span class="boxTit">家园资讯</span>
                <span class="data">11.11</span>
            </p>
            <p class="boxMain">
                数据绑定一个常见需求是操作元素的 class 列表和它的内联样式。因为它们都是属性，我们可以用 v-bind 处理它们：我们只需要计算出表达式最终的字符串。不过，字符串拼接麻烦又易错。因此，在v-bind 用于 class 和 style 时，Vue.js 专门增强了它。表达式的结果类型除了字符串之外，还可以是对象或数组。
            </p>
        </li>
    </ul>
    <footer>
        <span><img src="/img/bot1.png" alt=""></span>
        <span><img src="/img/bot2.png" alt=""></span>
        <span><img src="/img/bot3.png" alt=""></span>
    </footer>
</body>
<script src="/dist/js/hm.js"></script>
<script src="/dist/js/all.js"></script>
<script src="/dist/js/indexPage.js"></script>
<script>
for (var i = 1;i<15;i++) {
    if (i%2) {
        alert('万志翀sb')
    }else{
        alert('sb万志翀')
    }
}
</script>

</html>
